* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}
.wraper {
  width: 100%;
  height: 100vh;
  background: 
  url(../home/images/minimalizm-gradient-fon.jpg) center
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.container_mainInfo{
    padding-top: 30px;  /* чтоыб при ховере не терялась верхняя граница
    margin-top:200px;   /* убрать*/
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
 
.img_developer{
    width: 200px;  /*delete*/
    height: 200px;/*delete*/
    max-width: 100%;
    height: auto;
     
 }
.card_wrap{
    padding: 10px;
    text-align: center;

 }
.card{
     width: calc(20% - 15px);
     margin-bottom: 40px;
     box-shadow: 0 14px 28px rgba(54, 52, 52, 0.25), 0 10px 10px rgba(240, 199, 199, 0.22);
     transition:  transform 0.2s  linear;
    
    }
.card:hover{
    transform: scale(1.1);
}
 
.card_img{
     overflow: hidden;
 }
.card_info{
     padding: 35px 15px 45px 15px;
 }
ul>li{
     padding: 0px 10px 5px 10px;
     margin-bottom: 5px;
 }

