.body {
    font-family: 'Montserrat', sans-serif;
}

.wraper {
    width: 100%;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 72px;
    overflow: hidden;
} 

/* Header */
.header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100vh;
    flex-direction: column;
    

    background: 
    url(../home/images/minimalizm-gradient-fon.jpg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_name {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* .logo {
    background: url(../home/images/photo_2021-03-19_22-59-28.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    left: 340px;
    top: 35px;
    width: 10%;
    position: absolute;
    height: 10vh;
} */


/* Navigation */
.nav {
    font-size:16px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 60px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition:color .2s linear;
}

.nav_link:hover {
    color: rgba(61, 213, 240, 0.726);
}
