* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wraper {
    width: 100%;
  position: relative;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 72px;
}

/*-------------------FOOTER--------------------*/

.main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

.item__name {
  font-size: 40px;
  font-weight: 700;
  color: #000; 
}

.footer__dev-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_dev {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #000;
}

.item_dev-team {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}
 
.logo__cats {
  width: 70px;
  height: 70px;
}