* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background: 
    url(../home/images/minimalizm-gradient-fon.jpg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.wraper {
    width: 100%;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 72px;
} 

/* Header */
.header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    width: 100%;
    flex-direction: column;
    

    /* background: 
    url(../home/images/minimalizm-gradient-fon.jpg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover; */
}

.header_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.header_name {
    font-family:'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

/* .logo {
    background: url(../home/images/photo_2021-03-19_22-59-28.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    left: 340px;
    top: 35px;
    width: 10%;
    position: absolute;
    height: 10vh;
} */


/* Navigation */
.nav {
    font-size:16px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 60px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition:color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color:rgba(61, 213, 240, 0.726);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .5s linear;
}

.nav_link:hover {
    color: rgba(61, 213, 240, 0.726);
}

.nav_link:hover:after {
    opacity: 6;
}
/*-------------------------------MAIN-----------------------------*/
.container__selections{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
/*                               TEST ELEMENT                     */

.questions {
  margin: 10px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  border: #fff solid;
}

.questions__box {
  width: 400px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.questions__title {
  color:#fff;
  padding-left: 80px;
}

/*-------------------------------MAIN-----------------------------*/
.selections-box__field{
  position: relative;
  display: block;
  width: 100%; /* от ширины блока div */
  padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
  background: none; /* убираем фон */
  border: 1px solid #ccc; /* рамка */
  border-radius: 3px;/* скругление полей формы */
  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;/* Firefox */
  appearance: none;/* убираем дефолнтные стрелочки */
  font-family: inherit;/* наследует от родителя */
  font-size: 1rem;
  color: #444;
}

.questions__title {
  color:#fff;
  padding-left: 80px;
}

.selections-box__field:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.selections-box__AddQuestions {
  width: 70px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
/*---------------------------------add quastion---------------------------*/
.quastion__popup {
  height: 50px;
  width: 400px;
  margin-bottom: 40px;
}
.close__button {
  position: absolute;
  top: 0;
  right: 0;
  
}
.form__addQuastion {
  display: none;
  position: fixed;
  
  top: 18%;
  left: 41%;
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  background-color:rgb(188, 204, 207);
  text-align: center;
}
.close__link {
  text-decoration: none;
  color: #000;
}
.button__container {
  margin-top: 30px;
}
.button__cancel {
  margin-right: 20px;
}

/*---------------------------------FOOTER---------------------------*/
/* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid rgb(236, 163, 163);
    
  } */
  
  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
  .footer__nav-item {
    text-align: center;
  }
  .item__name-title {
    font-size: 40px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 15px;
    font-family:'Kaushan Script', cursive;
  
  }
  .item_dev {
    list-style: none;
  }
  .item__name-datetitle {
    font-size: 10px;
    font-weight: 200;
    color: #ccc;
    margin-bottom: 15px; 
  }
  .team__name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 370px;
    text-align: center;
  }
  .item__name-suptitle {
    font-size: 20px;
    font-weight: 400;
    color: #ccc; 
    margin-bottom: 15px;
  }
  .suptitle_link {
    text-decoration: none;
    color: #ccc; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .suptitle_link-dev {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
  }
  
  .suptitle_link-dev:hover {
      content: "";
      border-bottom: 1px solid rgba(61, 213, 240, 0.726);
      color: rgba(61, 213, 240, 0.726);
  }
  
  .footer__dev-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .item_dev-team {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300;
    color: #000;
  }
   
  .logo__cats {
      width: 100px;
      height: 100px;
      border: 1px solid #1b1818;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      cursor: pointer;
      transition: all .5s;
  }
  
  .logo__cats:hover {
    transform: scale(1.25);
  }